<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Target</th>
                <th>Country</th>
                <th>Domain</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let v of page; let i=index">
                <td>{{v.time | date: 'short'}}</td>
                <td>{{v.target}}</td>
                <td>{{v.country}}</td>
                <td>{{v.domain}}</td>
                <td><a href="{{v.phish_detail_url}}" target = "_blank">More Info</a></td>
            </tr>
        </tbody>
    </table>
    <div class= "mx-auto text-center">
        <small> Page {{pageInd + 1}} of {{pageCount}}</small>
        <br>
        <button class="btn" (click)="previousPage()"><-</button>
        <button class="btn" (click)="nextPage()">-></button>
        
        <br>
        <br>
    </div>
</div>