<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Target</th>
                <th>Reporting Country</th>
                <th>Domain</th>
                <th>More Info</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let v of page; let i=index" >
                <td>{{v.time | date: 'short'}}</td>
                <td>{{v.target}}</td>
                <td><a scrollTo scrollTargetSelector = "#map" (click) = "showMarkerFromMap(i)" href="">{{v.country}}</a></td>
                <td>{{v.domain}}</td>
                <td><a href="{{v.phish_detail_url}}" target = "_blank">More Info</a></td>
            </tr>
        </tbody>
    </table>

    <div class= "mx-auto text-center">
        <br>
        <ngb-pagination class="pagination" [collectionSize]="data.length" [(page)]="pageInd" [maxSize]="10" (pageChange)="goToPage()" [rotate]="true" [ellipses]="false"
        [boundaryLinks]="true"></ngb-pagination>
        <small> Page {{pageInd}} of {{pageCount}}</small>
        <br>
        <br>
    </div>
</div>