.jumbotron{
    background: whitesmoke;
}
.card{
    background:whitesmoke;
    
}
.footer{
    background: whitesmoke;
}
.dropdown-menu {
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
}
