<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{title}}</a>
</nav>
<br>    
    <div *ngIf = "phishLoc">
        <div class="container-fluid" style="margin-bottom: 50px;">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <app-map [data]="phishLoc"></app-map>
                </div>
                <div class="col-md-4 mx-auto">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="phishData">
        <div class="jumbotron">
            <app-chart [cdata] = "phishData"></app-chart>
        </div>
    
        <div class="mx-auto col-md-11">
            <app-grid [data] = "phishData"></app-grid>
        </div>
    </div>


<footer class="footer col-md-12">
    <hr>
    <p class="text-center">Last Updated: October 2017</p>
    <a class="mx-auto d-block btn navbar-btn" href="https://github.com/tylernhoward/vulnerability-map" role="button">
        <img class="mx-auto d-block" src="../assets/gitIcon.png" style="height:32px;width:32px;">
    </a>
</footer>


